@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
}

h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
}

.question{
  font-size: 30px;
  margin-bottom: 10px;
}

.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}

.answers label{
  display: block;
  margin-bottom: 10px;
}

button{
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  background-color: #279;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover{
  background-color: #38a;
}

button:disabled{
  background-color:#666;
}

.quiz-container{
  margin-top: 40px;
  margin-bottom: 40px;
  top: 0px;
  width: 100%;
}

.box{
  margin-left: auto;
  margin-right: auto;
  display: table;
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  background-color: rgb(182, 49, 55);
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 10px;
  width: 600px;
  cursor: move;
}

.solution{
  display: "block";
  opacity: 0
}

.box[frozen=true]{
  background-color: rgb(48, 93, 78);
}

.box[frozen=true]{
  background-color: rgb(48, 93, 78);
}

.solution[reveal=true]{
  opacity: 1
}


.box.over{
  border: 3px dotted #666;
}

#reset{
  background-color: red
}

a{
  font-weight: bold;
  text-decoration: none;
  color: black;
}

footer p{
  margin: 0.25em
}